/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Basic Styling*/
body {
  background-image: url(../../images/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1{
  padding-top: 137px;
  font-family: 'Indie Flower', cursive, italic;
  font-size: 4em;
  color: #fff;
  display: flex;
  justify-content: center;
}

/*icon styling*/
#social-media {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  }

  #twitter {
    color: hsl(206,88%,59%);
  }

  #facebook {
    color: #fff;
  }

  #email {
    color: red;
  }

  #instagram {
    color:hsl(342,67%,55%);
  }

.icon {
  border:inset;
  border-radius: 20px;
  margin: 9px;
  color: #fff;
  padding: 3px;
}

/*Fortune Paragraph Styling*/
#fortune {
  font-family: 'Indie Flower', cursive, italic;
  font-size: 1.6em;
  color: #fff;
  border-radius: 16px;
  width: fit-content;
  padding-bottom: 3%;
}


/*Button Styling*/
.reveal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}
input[type="submit"] {
  margin-top: 25.5px;
  color: #fff;
  background: border-box;
  border-radius: 16px;
  font-family: 'Indie Flower', cursive, italic;
  font-size: 1.8em;
  font-weight: bold;
  width: 300px;
}

footer {
    position: absolute;
    right: 0;bottom:0;left:0;
    padding-bottom: 2%;
    padding-left: 2%;
    color: #fff;
  }

  #sign-up {
    font-family: 'Indie Flower', cursive, italic;
  }

  #email-input {
    padding: 8.5px;
    font-size: x-small;
    border-radius: 25px;
    width: 160px;
    height: 3vh;
  }

  #ANJ-tag {
    display: flex;
    justify-content: flex-end;
    padding-right: 13px;
    font-size: smaller;
    margin-top: -15px;
  }

  #subscribe {
    font-size: 1em;
    width: 6%;
    height: 3.5vh;
  }
