/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Basic Styling*/
body {
  background-image: url(../../images/background.jpg);
}

h1{
  padding-top: 22px;
  font-size: 3em;
  color: #fff;
  display: flex;
  justify-content: center;

}
