/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Basic Styling*/
body {
  background-image: url(../../images/background.jpg);
  background-size:cover;
}

h1{
  padding-top: 22px;
  font-family: 'Indie Flower', cursive, italic;
  font-size: 4em;
  color: #fff;
  display: flex;
  justify-content: center;
}
